.App {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 12vh 76vh 12vh;
    grid-template-areas: "h h" "s c" "f f";
    color: #666666;
}

.App-header {
    display: flex;
    grid-area: h;
    background-color: #EEEEEE;
    font-size: calc(10px + 4vmin);
}
.App-header a {
    cursor: pointer;
    text-decoration: underline;
}

.App-header div {
    margin: auto;
}

.App-sidebar {
    display: flex;
    grid-area: s;
    background-color: #DDDDDD;
    font-size: calc(10px + 4vmin);
}

.App-sidebar div {
    margin: auto;
}

.App-footer {
    display: flex;
    grid-area: f;
    background-color: #CCCCCC;
    font-size: calc(10px + 4vmin);
}

.App-footer div {
    margin: auto;
}

.Content {
    grid-area: c;
    margin: 3vh calc(5vw - 5px) 3vh 5vw;
    overflow-y: scroll;
}

@media (max-width: 500px){
    .App {
        grid-template-areas: "h" "c" "f";
        grid-template-columns: 1fr;
    }

    .App-sidebar {
        display: none;
    }
}